.places {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .places {
        margin-top: 88px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin: 0;
        margin-top: 64px;
        margin-bottom: 66px;
    }
}
