.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto;
    gap: 48px 40px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 80px;
    box-sizing: border-box;
    max-width: 61.5rem;
}  

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        max-width: 100%;
        gap: 48px 32px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 850px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 630px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin-bottom: 50px;
    }
}