.place__url-heading {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #AAA;
    font-size: 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 12px;
    letter-spacing: 2px;
    font-style: normal;
}

.place__url-heading:hover {
    opacity: 0.8;
    transition: 0.3s;
}